
body{
    font-family: 'Poppins';
}

/* Top bar styles */
.topBar{
    background-color: white;
    position: absolute;
        height: 90px;
        left: 0%;
        right: 0%;
        top: 0px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

#topBarIcon{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 150px;
}

#blackButton{
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 40px;
    width: 170px;
}